*{
    box-sizing: border-box;
}
html, body{
    /* justify-content: center;
    align-items: center; */
    height: 950px;
    margin: 0px;
    background-color: blue;
}
.main{
    
    height: 100%;
    width: 900px;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}
.container{
    display: flex;
    border: 2px solid orange;
}
.a{
    border: 2px solid indigo;
}
.b{
    border: 2px solid orange;
}
.c{
    border: 2px solid green;
}
